.content{
  width: 100%;
  height: 100%;
}
.fpanel{
  margin-bottom: 7px;
}
.btns {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  right: -6px;
}
