.checkbox {
  display: none;
}
.cb{
  width: 40px;
  height: 65px;
  display: flex;
  align-items: center;
}
.label {
  cursor: pointer;
  position: relative;
  user-select: none;
  left: 11px;

  &:before {
    content: "";
    border: 2px solid #adbfdf;
    display: inline-block;
    position: relative;
    top: -2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    box-sizing: border-box;
  }

  &:hover {
    &:before {
      border: 2px solid #002cfb;
    }
  }
}
.label_active {
  &:before {
    border: none;
    background: url(../../style/icons/check.svg) center no-repeat;
  }

  &:hover {
    &:before {
      border: none;
      background: url(../../style/icons/check-hover.svg) center no-repeat;
    }
  }
}
